{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% crispy login login.helper %}

{% block content %}

    <main class="form-signin w-100 m-auto">
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-primary w-100 py-2" type="submit">Sign in</button>
            <footer class="my-5 pt-5 text-body-secondary text-center text-small">
                <p class="mb-1">&copy;2023 SVINK</p>
            </footer>
        </form>
    </main>


{% endblock %}