{% extends 'blog/base.html' %}
{% load my_tags %}
{% block content %}
<div class="container py-3">
  <header>
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-4 fw-normal text-body-emphasis">Pricing plan</h1>
      <p class="fs-5 text-body-secondary">Price user's {{ user.username }}</p>
    </div>
  </header>
  <main>
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
      <div class="col">
        {% for plan in plan_list %}
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">{{ plan.name }}</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">
               for {{ plan.price }}$
              <small class="text-body-secondary fw-light">/ {{ plan.length }} month</small>
            </h1>
            <a href="{% url 'subscription:payment' plan.pk %}"
                    class="w-100 btn btn-lg btn-outline-primary">Get started</a>
          </div>
        </div>
        {% endfor %}
      </div>

    </div>
    <div>
    <a class="btn btn-outline-dark center" href="{% url 'users:profile' user.pk %}">Back</a>
      </div>
  </main>
</div>
{% endblock %}