{% extends 'blog/base.html' %}
{% load my_tags %}
{% block content %}
<main>
    <div class="container-xl marketing mt-lg-5">
        <div class="row mb-auto">
            {% for user in user_list %}
            <div class="col-lg-4">
                <a href="{% url 'users:profile' user.pk %}"
                   class="link-secondary text-decoration-none">
                    <img src="{{ user.avatar|mymedia }}" width="140" height="140"
                         class="rounded-circle me-2">
                    <h2 class="fw-normal">{{ user.username }}</h2>
                    <p>{{ user.about_me }}</p>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</main>
{% endblock %}